<div class="p-3 pt-5 mt-3">
    <form class="form">
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <div class="input-group py-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Full Name">
          </div>
        </div>
        <div class="col-12 col-md-8 mx-auto">
          <div class="input-group py-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-at"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Email Address">
          </div>
        </div>
        <div class="col-12 col-md-8 mx-auto">
          <div class="input-group py-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Subject">
          </div>
        </div>
        <div class="col-12 col-md-8 mx-auto">
          <div class="input-group py-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-comment-alt"></i>
              </span>
            </div>
            <textarea type="text" class="form-control" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="col-12 col-md-8 mx-auto text-center">
          <div class="form-group py-2 m-0">
            <button class="btn btn-primary" type="submit">
              Send Message
            </button>
          </div>
        </div>
      </div>
    </form>
</div>