<div class="container main main-raised mx-auto bg-light">
  <div class="profile-content p-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <app-profile></app-profile>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 text-left">
          <app-profile-about></app-profile-about>
        </div>
        <div class="col-12 col-md-4">
          <app-profile-contact></app-profile-contact>
        </div>
      </div>
      <div class="row z-index-2">
        <div class="col-12 col-lg-10 mx-auto">
          <app-profile-tabs></app-profile-tabs>
        </div>
      </div>
      <div class="row z-index-1">
        <div class="app-profile-tab-content col-12"></div>
      </div>
    </div>
  </div>
</div>
