<div class="profile">
  <app-profile-picture></app-profile-picture>
  <div class="name">
    <h3 class="title">Alireza Askari</h3>
    <h6>.NET Framework Developer</h6>
    <a href="#pablo" class="btn btn-just-icon btn-link btn-github mx-1">
      <i class="fab fa-github"></i>
    </a>
    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter mx-1">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin mx-1">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
