<div class="tab-content tab-space main-raised">
  <div class="tab-pane active text-center gallery" id="studio">
    <div class="row">
      <div class="col-md-3 ml-auto">
      </div>
      <div class="col-md-3 mr-auto">
      </div>
    </div>
  </div>
  <div class="tab-pane" id="resume">
    <div class="col-md-9 mx-auto">
      <app-tab-resume></app-tab-resume>
    </div>
  </div>
  <div class="tab-pane tab-pane-skills" id="skills">
    <div class="col-12 col-md-10 mx-auto">
      <app-tab-skills></app-tab-skills>
    </div>
  </div>
  <div class="tab-pane" id="contact">
    <div class="col-md-9 mx-auto">
      <app-message></app-message>
    </div>
  </div>
</div>