* :not(.material-icons) {
  font-family: Vazir !important;
}

body {
  direction: rtl;
}

.page-header .header-filter {
  background-image: url(assets/image/header1.jpg);
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.z-index-1 {
  position: inherit;
  z-index: 1;
}

.fa-ul>li {
  padding: .35rem;
  position: relative;
}

.app-profile-tab-content {
  width: 100%;
}

.profile-page .profile-tabs {
  margin-top: 5px;
}

.page-header.header-gradient {
  background: rgb(102, 116, 131);
  background: linear-gradient(-180deg, rgba(102, 116, 131, 0) 0%, rgba(102, 116, 131, 0) 0%, rgba(102, 116, 131, 1) 77%, rgba(102, 116, 131, 1) 91%);
  height: 100%;
  width: 100%;
}

.profile-title {
  border-bottom: 3px solid #9c27b0;
  width: max-content;
  padding: .5rem;
  font-weight: 500;
}

.profile-page .profile img {
  max-width: 300px;
  transform: translate3d(0, -55%, 0);
}

.profile-page .page-header {
  background-position: center;
}

.profile-about, .profile-contact {
  padding: 10px;
}

.profile-page .profile .name {
  margin-top: -160px;
}

.btn.btn-just-icon {
  font-size: 30px;
}

.tab-space {
  padding: 20px;
}

.profile-page .description {
  margin: 0;
  max-width: 600px;
}

.main {
  margin: -130px 0 0;
}

@media (max-width: 575.98px) {
  .profile-page .page-header {
    height: 350px;
    background-position: top center;
  }

  .main-raised {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-pills .nav-item .nav-link {
    line-height: 20px;
    min-width: 20px;
    padding: 5px;
  }
  .nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 8px 0;
  }
}